body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#calc {
  background-color: grey;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: space-evenly;
  min-width: 300px;
  height: 400px;
  border: 1px solid black;
}

#display_row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  background-color: rgb(44, 41, 44);
  border: 2px solid black;
  color: white;
  text-align: end;
  font-size: 30px;
}

#results {
  font-size: 25px;
}

.calc_row,
.final_row {
  display: flex;
  flex: 1;
}

.calc_row > * {
  flex: 1 100%;
}

button {
  font-size: 30px;
  border: 1px solid black;
  transition: background-color 0.1s;
}

button:hover {
  filter: brightness(85%);
}

.final_row > * {
  flex-grow: 1;
}

#zero {
  width: 106.5px;
}

#decimal {
  width: 32px;
}

.C {
  background-color: rgb(255 45 0);
}

.operator,
#toggle_sign,
#percentage,
#equals {
  background-color: orange;
}
