body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background-color: ivory;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

#calc {
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  color: black;
  margin-top: 400px;
  justify-content: space-evenly;
  min-width: 300px;
  height: 400px;
  border: 3px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

#display_row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
  border: 1px solid black;
  color: black;
  text-align: end;
  font-size: 26px;
  background-color: buttonface;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
}

#results {
  font-size: 15px;
  max-width: 300px;
}

#main_display,
#results {
  word-wrap: break-word;
}

#main_display {
  max-width: 310px;
}

.calc_row,
.final_row {
  display: flex;
  flex: 1;
}

.calc_row > * {
  flex-grow: 1;
}

button {
  font-size: 25px;
  border: 1px solid black;
  transition: background-color 0.1s;
  min-width: 80px;
}

button:hover {
  filter: brightness(85%);
}

.final_row > * {
  flex-grow: 1;
}

.AC,
#zero {
  width: 120px;
}

.AC {
  background-color: #ef0000;
  font-weight: 550;
}

#clear {
  background-color: lightblue;
}

.operator,
#equals {
  background-color: orange;
}

.footer {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer-logo {
  width: 25px;
  height: 25px;
  animation: logo-animation 5s linear infinite;
}
